body{
  font-family: Arial;
  background-color: #262424;
  padding: 30px;
  color: #534f4f;
}

.App {
  max-width: 700px;
  margin: 0 auto;
  background-color: #eae6e6;
  padding: 20px 30px;
  border-radius: 10px;

}

h1{
  text-align: center;
}

h2{
  margin-bottom: 15px;
}

p{
  margin: 10px 0;
}